body{
    background-color:deepskyblue;
    color:aliceblue;
}

a{
    text-decoration: none;
    color: aquamarine;
}

a:visited{
    text-decoration: none;
    columns: aquamarine;
}

img{
    width: 200px;
    height: auto;
}

#students{
    color: black;
}

#hw{
    color: blueviolet;
}