body{
    background-color:deepskyblue;
    color:aliceblue;
}

section{
    padding-bottom: 200px;
}

a{
    text-decoration: none;
    color: aquamarine;
}

a:visited{
    text-decoration: none;
    columns: aquamarine;
}

#logo{
    width: 200px;
    height: auto;
}

image{
    width: 100%;
    height: auto;
}

#students{
    color: black;
}

#hw{
    color: blueviolet;
}